@model IEnumerable<CRM.Models.Annotations>

@{
    ViewData["Title"] = "Annotations";
}

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Annotations Overview</h1>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <p>
            <a asp-action="Create"><button class="btn btn-primary">Create New</button></a>
        </p>
    </div>
</div><!--/.row-->

<div class="row">
    <div class="col-lg-12">
        <p>
            <table data-toggle="table" class="table">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Contact)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Description)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        // So it is not shown all the annotation, only an extract
                        var DescriptionLength = item.Description.Length > 100 ? 100 : item.Description.Length;
                        var Description = item.Description.ToString().Substring(0, DescriptionLength);

                        if(DescriptionLength >= 100)
                        {
                            Description += " [...]";
                        }
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                <a asp-action="Details" asp-controller="Contacts" asp-route-id="@item.ContactId">@Html.DisplayFor(modelItem => item.Contact.Name)</a>
                            </td>
                            <td>
                                @Description
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.Id"><button class="btn btn-success">Edit</button></a> 
                                <a asp-action="Details" asp-route-id="@item.Id"><button class="btn btn-default">Details</button></a> 
                                <a asp-action="Delete" asp-route-id="@item.Id"><button class="btn btn-danger">Delete</button></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </p>
    </div>
</div><!--/.row-->
