@model CRM.Models.Contact

@{
    ViewData["Title"] = "Details";
}

<!-- Title -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contact Details</h1>
        <a asp-action="Index">Back to List</a>
    </div>
</div><!--/.row-->

<br />

<!-- Contact Info and Annotations-->
<div class="row">
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.DisplayFor(model => model.Name)
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Email)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Email)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.PhoneNumber)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.PhoneNumber)
                    </dd>
                </dl>

                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>

        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-default">
            <div class="panel-heading">
                @Html.DisplayNameFor(model => model.Annotations) made by @Html.DisplayFor(model => model.Name)
            </div>
            <div class="panel-body">
                <table class="table" data-toggle="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Annotations.First().Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Annotations.First().Description)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Annotations)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a asp-controller="Annotations" asp-action="Details" asp-route-id="@item.Id">View Annotation</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>
